<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="text-center">
    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal">管理員登入頁面</h1>

        <div class="form-floating">
          <input type="accout" class="form-control" id="floatingInput" placeholder="Account">
          <label for="floatingInput">帳號</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">密碼</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> 記住我
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">登入</button>
      </form>
    </main>
    </div>
</div>

