
<title>{{ title }}</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">文章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">相簿</a>
        </li>
      </ul>
      <a class="d-flex" href="#" style="text-decoration: none;">
        <button class="btn btn-outline-light">
          login
        </button>
      </a>
    </div>


  </div>
</nav>
